.searchResultsContainer {
    width: 55%;
    height: 40rem;
    background-color: #021156b5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left: solid 4px black;
    border-right: solid 4px black;
    padding: 1rem;
}

.headerContainer {
    padding-bottom: 1rem;
}

.header {
    color: #fff;
    font-size: 3rem;
}

.contentContainer {
    overflow-y: auto;
}

.playIcon {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.pauseIcon {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.pauseIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.pauseIcon:active {
    transform: scale(1);
}

.playIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.playIcon:active {
    transform: scale(1);
}

.plusIcon {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.plusIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.plusIcon:active {
    transform: scale(1);
}

.albumCover {
    width: 4rem;
    height: 4rem;
}

.plusButtonContainer {
    margin-right: 0.1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.resultContainerSansHr {
    display: flex;
    overflow: hidden;
}

.nameAndArtistContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.songName {
    color: #fff;
    font-size: 2rem;
}

.artistName {
    color: #6c41ec;
    font-size: 1.7rem;
}

.albumCoverContainer {
    padding: 0 1rem 0 0;
    /* display: flex;
    align-items: center; */
}

.divider {
    border: none;
    border-bottom: solid 1px;
}

.playContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}