.searchResultsContainer {
    width: 55%;
    height: 40rem;
    background-color: #021156b5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left: solid 4px black;
    border-right: solid 4px black;
    padding: 1rem;
}

.headerContainer {
    padding-bottom: 1rem;
}

.header {
    color: #fff;
    font-size: 3.5rem;
}

.contentContainer {
    overflow-y: auto;
}

.playIcon {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.pauseIcon {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.pauseIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.pauseIcon:active {
    transform: scale(1);
}

.playIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.playIcon:active {
    transform: scale(1);
}

.plusIcon {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.plusIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.plusIcon:active {
    transform: scale(1);
}

.albumCover {
    width: 5rem;
    height: 5rem;
}

.plusButtonContainer {
    margin-right: 0.1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.resultContainerSansHr {
    display: flex;
    overflow: hidden;
}

.nameAndArtistContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.songName {
    color: #fff;
    font-size: 2rem;
}

.artistName {
    color: #6c41ec;
    font-size: 1.7rem;
}

.albumCoverContainer {
    padding: 0 1rem 0 0;
    display: flex;
    align-items: center;
}

.divider {
    border: none;
    border-bottom: solid 1px;
    margin: 0.5rem 0;
    color: grey;
}

.playContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media only screen and (min-width: 1600px) {
    .header {
        font-size: 4rem;
    }

    .albumCover {
        width: 7rem;
        height: 7rem;
    }

    .songName {
        font-size: 2.8rem;
    }

    .artistName {
        font-size: 2.5rem;
    }

    .playIcon {
        font-size: 5rem;
    }

    .pauseIcon {
        font-size: 5rem;
    }

    .plusIcon {
        font-size: 5rem;
    }

    .plusButtonContainer {
        margin-right: 0.2rem;
    }
}

@media only screen and (max-width: 640px) {
    .searchResultsContainer {
        width: 100%;
        height: 40rem;
    }

    .header {
        font-size: 3rem;
        text-align: center;
    }

    .albumCover {
        width: 5rem;
        height: 5rem;
    }

    .songName {
        font-size: 2rem;
    }

    .artistName {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 400px) {

    .header {
        font-size: 2.5rem;
    }

    .albumCover {
        width: 4rem;
        height: 4rem;
    }

    .songName {
        font-size: 1.5rem;
    }

    .artistName {
        font-size: 1.3rem;
    }
}