.header {
  background-color: #021156;
  text-align: center;
  padding: 1.5rem 0;
}

.h1 {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  color: #d1d1d1;
}

.highlight {
  color: #6c41ec;
}

.resultAndPlaylistContainer {
  margin: 3rem 7rem 0 7rem;
  display: flex;
}