.header {
  background-color: #021156;
  text-align: center;
  padding: 1.5rem 0;
}

.h1 {
  font-size: 4rem;
  color: #d1d1d1;
}

.highlight {
  color: #6c41ec;
}

.resultAndPlaylistContainer {
  margin: 3rem 7rem 7rem 7rem;
  display: flex;
}

@media only screen and (min-width: 1600px) {
  .h1 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .resultAndPlaylistContainer {
    margin: 2rem 1rem 5rem 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 1rem 0;
  }

  .h1 {
    font-size: 3rem;
  }

  .resultAndPlaylistContainer {
    margin: 1rem 3rem 3rem 3rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .resultAndPlaylistContainer {
    margin: 1rem 1rem 3rem 1rem;
  }
}