.playlistResultsContainer {
    width: 45%;
    height: 40rem;
    background-color: #021156b5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-left: solid 4px black;
    border-right: solid 4px black;
    padding: 1rem;
    margin-left: 5rem;
}

.headerContainer {
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.input {
    color: #fff;
    font-size: 3.5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #999999;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: #fff;
}

.contentContainer {
    overflow-y: auto;
}

.playlistContainerSansHr {
    display: flex;
    overflow: hidden;
}

.nameAndArtistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.songName {
    color: #fff;
    font-size: 2rem;
}

.artistName {
    color: #6c41ec;
    font-size: 1.7rem;
}

.albumCover {
    width: 5rem;
    height: 5rem;
}

.albumCoverContainer {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.minusButtonContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.minusIcon {
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    will-change: transform;
}

.minusIcon:hover {
    transform: scale(1.1);
    color: #916dff;
}

.minusIcon:active {
    transform: scale(1);
}

.divider {
    border: none;
    border-bottom: solid 1px;
    margin: 0.5rem 0;
    color: grey;
}

@media only screen and (min-width: 1600px) {
    .input {
        font-size: 4rem;
    }

    .albumCover {
        width: 7rem;
        height: 7rem;
    }

    .songName {
        font-size: 2.8rem;
    }

    .artistName {
        font-size: 2.5rem;
    }

    .minusIcon {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 800px) {
    .playlistResultsContainer {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 640px) {

    .playlistResultsContainer {
        width: 100%;
        margin: 2rem 0 0 0;
    }

    .input {
        font-size: 3rem;
        text-align: center;
    }

    .albumCover {
        width: 5rem;
        height: 5rem;
    }

    .songName {
        font-size: 2rem;
    }

    .artistName {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 400px) {
    .input {
        font-size: 2.5rem;
    }

    .albumCover {
        width: 4rem;
        height: 4rem;
    }

    .songName {
        font-size: 1.5rem;
    }

    .artistName {
        font-size: 1.3rem;
    }
}